<!-- Generated template for the LoginComponent component -->
<ion-header>
  <ion-navbar text-center [color]="color">
      <ion-title>Artikel</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="no-scroll">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item class="input" no-lines>
                    <ion-label stacked class="label" >Id</ion-label>
                    <ion-input type="text" [(ngModel)]="id" [class]="color" [disabled]="isUpdate"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item class="input" no-lines>
                    <ion-label stacked class="label" >Tanggal</ion-label>
                    <!-- <ion-input type="text" [(ngModel)]="tanggal" [class]="color"></ion-input>     -->
                    <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="tanggal" [class]="color"></ion-datetime>
               
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item class="input" no-lines>
                    <ion-label stacked class="label">Judul</ion-label>
                    <ion-input type="text" [(ngModel)]="judul" [class]="color"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item class="input" no-lines>
                    <ion-label stacked class="label">Gambar</ion-label>
                    <ion-input type="text" [(ngModel)]="gambar" [class]="color"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item class="input" no-lines>
                    <ion-label stacked class="label">Isi</ion-label>
                    <ion-textarea [class]="color" [(ngModel)]="isi" rows="20"></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item no-lines>
                    <a ion-button round small float-left outline color="secondary" (click)="dismiss()">Batal</a>
                    <button ion-button round small float-right [color]="color" (click)="simpan()">Simpan</button>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>

