<!-- Generated template for the LoginComponent component -->
<ion-header>
  <ion-navbar text-center [color]="color">
      <ion-title>Artikel</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="no-scroll">
  <form>
      <ion-item class="input" no-lines>
          <ion-label floating class="label" >Username</ion-label>
          <ion-input type="text" [class]="color"></ion-input>
      </ion-item>
      <ion-item class="input" no-lines>
          <ion-label floating class="label">Password</ion-label>
          <ion-input type="password" [class]="color"></ion-input>
      </ion-item>
      <ion-item no-lines>
          <a ion-button round small float-left outline color="secondary" (click)="dismiss()">Batal</a>
          <button ion-button round small float-right [color]="color">Masuk</button>
      </ion-item>
  </form>
</ion-content>

