<ion-header>
  <ion-navbar color="light" text-center class="kepala">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item color="header" text-left no-lines class="kepala">
      <img padding-left src = "assets/imgs/twh.png" item-start style="width:10%">
      <p class="judul">{{namaSekolah | uppercase}}</p>
    </ion-item>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col class="sideCol"></ion-col>
        <ion-col class="mainCol">
          <ion-card >
            <ion-card-header>
              <ion-grid>
                <ion-row>
                  <ion-col>
                      <button ion-button full>Input Nilai</button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6>
                    <ion-item class="pilihan" text-center>
                      <ion-label text-left>Th Ajaran</ion-label>
                      <ion-select [(ngModel)]="thn" (ionChange)="check()">
                        <ion-option *ngFor="let th of tahunAjar" [value]="th.value">{{th.name}}</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col col-6>
                    <ion-item class="pilihan" text-center>
                      <ion-label text-left>Kelas</ion-label>
                      <ion-select [(ngModel)]="kls" (ionChange)="check()">
                        <ion-option value="1a">I A</ion-option>
                        <ion-option value="1b">I B</ion-option>
                        <ion-option value="1c">I C</ion-option>
                        <ion-option value="2a">II A</ion-option>
                        <ion-option value="2b">II B</ion-option>
                        <ion-option value="2c">II C</ion-option>
                        <ion-option value="3a">III A</ion-option>
                        <ion-option value="3b">III B</ion-option>
                        <ion-option value="3c">III C</ion-option>
                        <ion-option value="4a">IV A</ion-option>
                        <ion-option value="4b">IV B</ion-option>
                        <ion-option value="4c">IV C</ion-option>
                        <ion-option value="5a">V A</ion-option>
                        <ion-option value="5b">V B</ion-option>
                        <ion-option value="5c">V C</ion-option>
                        <ion-option value="6a">VI A</ion-option>
                        <ion-option value="6b">VI B</ion-option>
                        <ion-option value="6c">VI C</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6>
                    <ion-item class="pilihan" text-center>
                      <ion-label text-left>Semester</ion-label>
                      <ion-select [(ngModel)]="smt" (ionChange)="check()">
                        <ion-option value="1">Ganjil</ion-option>
                        <ion-option value="2">Genap</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col col-6>
                    <ion-item class="pilihan" text-center>
                      <ion-label text-left>Mata Pelajaran</ion-label>
                      <ion-select [(ngModel)]="plj" (ionChange)="check()">
                        <ion-option *ngFor="let pel of pelajaran" value="{{pel.kd_pelajaran}}">{{pel.nama_pelajaran}}</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
            <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-2>Nisn</ion-col>
                    <ion-col col-6>Nama Siswa</ion-col>
                    <ion-col col-2>KKM</ion-col>
                    <ion-col col-2>Nilai</ion-col>
                  </ion-row>
                  <ion-row *ngFor="let siswa of dataNilai; let i = index;">
                    <ion-col col-2>{{siswa.nisn}}
                      <ion-input hidden [(ngModel)]="dataNilai[i].nisn" [value]="siswa.nisn"></ion-input>
                    </ion-col>
                    <ion-col col-5>{{siswa.nama}}</ion-col>
                    <ion-col col-2>
                      <ion-input class="in-kecil" [(ngModel)]="dataNilai[i].kkm" [value]="siswa.kkm"></ion-input>
                    </ion-col>
                    <ion-col col-2>
                      <ion-input class="in-kecil" [(ngModel)]="dataNilai[i].nilai" [value]="siswa.nilai"></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <button ion-button float-right (click)="simpan()" [hidden]="!enableAdd">Simpan</button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="sideCol"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
