page-input-nilai {

    .judul{
        font-size: 50px;
    }

    .pilihan{
        max-width: 50vh;
        background-color: aquamarine;
        border-radius: 25px;
    }

    ion-input{
        .text-input-md{
            margin:0;
            padding-left:-10px;
        }
    }
}
