<!-- Generated template for the LoginComponent component -->
<ion-header>
  <ion-navbar text-center [color]="color">
      <ion-title>Siswa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="no-scroll">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item class="input" no-lines>
                    <ion-label stacked class="label" >Nisn</ion-label>
                    <ion-input type="text" text-center [(ngModel)]="nisn" [class]="color"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item class="input" no-lines>
                    <ion-label stacked class="label">Nama</ion-label>
                    <ion-input type="text" text-center [(ngModel)]="nama" [class]="color"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item class="input" no-lines text-center>
                    <ion-label stacked class="label" text-start>Tanggal Lahir</ion-label>
                    <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="tglLahir" [class]="color"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item no-lines>
                    <a ion-button round small float-left outline color="secondary" (click)="dismiss()">Batal</a>
                    <button ion-button round small float-right [color]="color" (click)="tambah()">Tambah</button>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>

