<ion-header>
  <ion-navbar color="light" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item color="header" text-left>
        <img padding-left src = "assets/imgs/twh.png" item-start style="width:10%">
        <p class="judul">{{namaSekolah | uppercase}}</p>
      </ion-item>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="sideCol"></ion-col>
      <ion-col class="mainCol">
        <ion-card >
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col>
                    <button ion-button full>Raport</button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>
                  <ion-item class="pilihan" text-center>
                    <ion-label text-left>Th Ajaran</ion-label>
                    <ion-select [(ngModel)]="thn" (ionChange)="check()">
                      <ion-option *ngFor="let th of tahunAjar" [value]="th.value">{{th.name}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col col-4>
                  <ion-item class="pilihan" text-center>
                    <ion-label text-left>Semester</ion-label>
                    <ion-select [(ngModel)]="smt" (ionChange)="check()">
                      <ion-option value="1">Ganjil</ion-option>
                      <ion-option value="2">Genap</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
          <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-1>No</ion-col>
                  <ion-col col-7>Mata Pelajaran</ion-col>
                  <ion-col col-2>KKM</ion-col>
                  <ion-col col-2>Nilai</ion-col>
                </ion-row>
                <ion-row *ngFor="let item of dataNilai; let i = index;">
                  <ion-col col-1>{{i+1}}. </ion-col>
                  <ion-col col-7>{{item.mapel}}</ion-col>
                  <ion-col col-2>{{item.kkm}}</ion-col>
                  <ion-col col-2>{{item.nilai}}</ion-col>
                </ion-row>
              </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="sideCol"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
